body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #444;
}

.navbar {
    font-size: 1.1rem;
    
}



.footer {
    font-size: 0.9rem;
}

.container {
    max-width: 1200px;

}

.box {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

h2 {
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 20px;
}

input[type="file"],
input[type="text"] {
    border: 1px solid #ced4da;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


.upload-box {
    max-width: 500px;
    text-align: center;
}

.search-box {
    max-width: 600px;
}

input[type="text"],
input[type="file"] {
    margin: 10px 0;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h1 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}


.wrap{
    white-space: pre-wrap; /* Allows text to wrap within the pre element */
    word-wrap: break-word; /* Breaks long words to fit the container width */
    display: block;
    margin-bottom: 10px;
}
pre {
    white-space: pre-wrap; /* Allows text to wrap within the pre element */
    word-wrap: break-word; /* Breaks long words to fit the container width */
    background-color: #000000;
    color: #ddd;
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    position: relative;


  }
  
code{
    font-family: Consolas,monaco,monospace; 
    font-size: 12px;
  }



.code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    padding: 2px 5px 2px 10px;
    font-size: 0.8em;
    color: #fff;
  }
  

  
.copy-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.8em;
  }
  
.copy-btn:hover {
    color: #ccc;
  }



.navbar {
    font-size: 1.1rem;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    font-size: 0.9rem;
}

#chat-box {
    background-color: white;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }
  
  
  #chat-area {
    flex-grow: 1;
    padding: 20px;
    overflow-y: scroll;
    
  }
  
  
  .message-container {
    margin-bottom: 20px;
  }
  
  .user-message,
  .bot-message {
    display: inline-block;
    background-color: #f1f0f0;
    border-radius: 4px;
    padding: 10px;
    margin: 0;
  }
  
  .user-message {
    background-color: #007bff;
    color: white;
    float: right;
    clear: both;
  }
  
  .bot-message {
    float: left;
    clear: both;
  }
  
  .timestamp,
  .bot-timestamp {
    font-size: 0.8em;
  }
  
  .timestamp {
    float: right;
    clear: both;
  }
  
  .bot-timestamp {
    float: left;
    clear: both;
  }
  
  #input-area {
    padding: 20px;
    display: flex;
    align-items: center;
    border-top: 1px solid #f1f0f0;
    justify-content: space-between;

  }
  
  #question-input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 4px;
    outline: none;
  }
  
  #send-button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #send-button:hover {
    background-color: #0069d9;
  }
  
  #typing-indicator {
    min-height: 20px;
    padding-left: 20px;
  }
  
  #loading-indicator {
    /* display: none; */
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    display: flex; 
  }
  
  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .card-title {
    font-size: 1.3rem;
    margin-bottom: 0.75rem;
  }
  
  .card-description {
    font-size: 1.1rem;
    margin-top: 0;
  }

  .chatbox-header {
    padding: 20px;
    background-color: #f4f4f4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .chatbox-header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

