body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    font-size: 1.1rem;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    font-size: 0.9rem;
}

.container {
    max-width: 1200px;

}

.box {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

h2 {
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 20px;
}

input[type="file"],
input[type="text"] {
    border: 1px solid #ced4da;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


.upload-box {
    max-width: 500px;
    text-align: center;
}

.search-box {
    max-width: 600px;
}

input[type="text"],
input[type="file"] {
    margin: 10px 0;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h1 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}


.wrap{
    white-space: pre-wrap; /* Allows text to wrap within the pre element */
    word-wrap: break-word; /* Breaks long words to fit the container width */
    display: block;
    margin-bottom: 10px;
}
pre {
    white-space: pre-wrap; /* Allows text to wrap within the pre element */
    word-wrap: break-word; /* Breaks long words to fit the container width */
    background-color: #000000;
    color: #ddd;
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    position: relative;


  }
  
code{
    font-family: Consolas,monaco,monospace; 
    font-size: 12px;
  }



.code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    padding: 2px 5px 2px 10px;
    font-size: 0.8em;
    color: #fff;
  }
  

  
.copy-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.8em;
  }
  
.copy-btn:hover {
    color: #ccc;
  }



.navbar {
    font-size: 1.1rem;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    font-size: 0.9rem;
}

